/*
1c2025: bg color
0e0f14: code editor bg
b6b8b9: code editor text color
ffd733: input/tab border color
24231b: button text color
 */
.tab-pane, .pane, .v-box, .tab, .tab-header-area, .tab-header-background, #rootPane, .list-view, .list-cell,
.check-box, .check-box .box,  .text-field, .text-area, .label {
    -fx-background-color: #1c2025;
    -fx-text-fill: #adadad;
}

#rootPane .header-panel {
    -fx-background-color: #1c2025;
}

#currentFiles .list-cell {
    -fx-text-fill: #adadad;
}

#currentFiles .list-cell:selected {
    -fx-text-fill: #ffb51a;
    -fx-background-color: #363e48;
}

.code-area {
    -fx-background-color: #0e0f14;
    -fx-highlight-fill: paleturquoise;
    -fx-accent: red ;
}

.code-area .text {
    -fx-fill: #b6b8b9;
}

.code-area .caret {
    -fx-stroke: #ffb51a;
    -fx-arc-width: 3;
}

.code-area .hlt {
    -fx-background-color: #ffb51a;
    -rtfx-background-color: #ffb51a;
    -fx-fill: red;
    -rtfx-fill: red;
    -fx-text-fill: blue;
}


.code-area .lineno, .code-area .lineno *{
    -fx-background-color: #2a3038;
}
.code-area .selection {
    -fx-fill: #645809;
}

.code-area .paragraph-box {
    -fx-padding: 5px;
}

.code-area .paragraph-box:has-caret {
    -fx-background-color: #23242d;
}

.text-field, .text-area {
    -fx-border-color: #ffd733;
}


/*.tab-header-area .tab  {*/

/*    -fx-border-style: none none solid none;*/
/*    -fx-border-color:  #ffd733;*/
/*}*/

.tab-header-area .tab {
    -fx-fill: #b6b8b9;
    -tab-text-color: #b6b8b9;

}

.tab .tab-label {
    -fx-text-fill: #b6b8b9;
}


.tab-header-area .tab:selected {
    -fx-border-color: #ffd733;
    -fx-border-style: solid solid none solid;
}

.button {
    -fx-background-color: #ffd733;
    -fx-text-fill: #24231b;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

.check-box .box {
    -fx-border-color: #ffd733;
}

.check-box:selected .mark {
    -fx-background-color: #ffd733;
}