/*
1c2025: bg color
0e0f14: code editor bg
b6b8b9: code editor text color
ffd733: input/tab border color
24231b: button text color
 */
.tab-pane, .pane, .v-box, .tab, .tab-header-area, .tab-header-background, #rootPane, .list-view, .list-cell,
.check-box, .check-box .box,  .text-field, .text-area {
    -fx-background-color: #1c2025;
}

#rootPane .header-panel {
    -fx-background-color: #1c2025;
}

#currentFiles .list-cell {
    -fx-text-fill: #585858;
}

.code-area {
    -fx-background-color: #0e0f14;
}

.code-area .text {
    -fx-fill: #b6b8b9;

}

.code-area .caret {
    -fx-stroke: #ffb51a;
}

.code-area .hlt {
    -fx-background-color: #ffb51a;
    -rtfx-background-color: #ffb51a;
    -fx-fill: red;
    -rtfx-fill: red;
    -fx-text-fill: blue;
}

.text-field, .text-area {
    -fx-border-color: #ffd733;
}


/*.tab-header-area .tab  {*/

/*    -fx-border-style: none none solid none;*/
/*    -fx-border-color:  #ffd733;*/
/*}*/

.tab-header-area .tab {
    -fx-fill: #b6b8b9;
    -tab-text-color: #b6b8b9;

}

.tab .tab-label {
    -fx-text-fill: #b6b8b9;
}


.tab-header-area .tab:selected {
    -fx-border-color: #ffd733;
    -fx-border-style: solid solid none solid;
}

.button {
    -fx-background-color: #ffd733;
    -fx-text-fill: #24231b;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

.check-box .box {
    -fx-border-color: #ffd733;
}

.check-box:selected .mark {
    -fx-background-color: #ffd733;
}